body {
  background-color: black;
}

.gray-button {
  font-size: 15px;
  background-color: rgb(63, 63, 63);
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  margin-right: 2px;
}

.orange-button {
  font-size: 15px;
  background-color: orange;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  margin-right: 2px;
}

.result {
  font-family: Arial;
  font-size: 40px;
  color: white;
}